/*配置是否显示*/

/******************************************
Login
*******************************************/
#Login_Top{
display:"";
}

#Login_Head{
display:"";
}

#Login_LeftMenu{
display:"";
}

#Login_MidTop{
display:"";
}

#Login_Right{
display:"";
}

#rightMir{
display:"";
}

#Login_Bottom{
display:"";
}

#Login_ChangeLang{
display:none;
}

#Login_CheckSaveCookie{
display:"";
}

/******************************************
Left
*******************************************/
#link5{
display:none;
}

#link11{
display:"";
}

#link13{
display:"";
}

#link15{
display:"";
}

#link17{
display:"";
}

#link18{
display:"";
}

#link19{
display:"";
}

#link21{
display:"";
}

#link22{
display:"";
}

#link23{
display:"";
}

#link27{
display:"";
}

#link28{
display:"";
}

#link29{
display:"";
}

#link30{
display:"";
}

#link31{
display:"";
}

#link32{
display:"";
}

#link33{
display:"";
}

#link34{
display:none;
}


/******************************************
Status
*******************************************/
#Status_trPrimaryNTP{
display:"";
}

#Status_trSecondryNTP{
display:"";
}

#Status_trHardwareModel{
display:none;
}

/******************************************
AccountB
*******************************************/
#AccountB_trtDisplayLabel{
display:"";
}

#AccountB_divSecSIPServer{
display:"";
}

#AccountB_trEnableProxyServer{
display:"";
}

#AccountB_divNATStunPart{
display:"";
}

/******************************************
AccountA
*******************************************/
#AccountA_divSIPAccount{
display:"";
}

#AccountA_divCodecs{
display:"";
}

#AccountA_divSubscribe{
display:"";
}

#AccountA_trHowToInfoDTMF{
display:"";
}

#AccountA_trDTMFPayload{
display:"";
}

#AccountA_trVsipEnableIPCall{
display:none;
}

#AccountA_trLocalSIPPort{
display:none;
}

#AccountA_trMaxLocalSIPPort{
display:"";
}

#AccountA_trMinLocalSIPPort{
display:"";
}

#AccountA_trCallerIDHeader{
display:"";
}

#AccountA_trAutoAnswer{
display:"";
}

#AccountA_trRingTones{
display:"";
}

#AccountA_trPRACK{
display:"";
}

#AccountA_trUserPhoneReg{
display:none;
}

#AccountA_trPTime{
display:"";
}

#AccountA_trAnonymCall{
display:"";
}

#AccountA_trAnonymCallReject{
display:"";
}

#AccountA_trIsEscapeNonAscii{
display:"";
}

#AccountA_trMissedCallLog{
display:"";
}

#AccountA_trPreventSIPHacking{
display:"";
}

#AccountA_divMOHServer{
display:"";
}

#AccountA_divBLFList{
display:"";
}

#AccountA_divBSFT{
display:none;
}

#AccountA_divEncryption{
display:"";
}

#AccountA_divNAT{
display:"";
}

#AccountA_divConference{
display:"";
}

#AccountA_divUserAgent{
display:none;
}

#AccountA_divVideoSettings{
display:none;
}

#AccountA_divAudioSettings{
display:none;
}

/******************************************
NetworkB
*******************************************/
#NetworkB_tbodyPPPoE{
display:"";
}

#NetworkB_divPCPort{
display:none;
}

#NetworkB_divWifi{
display:none;
}

/******************************************
NetworkA
*******************************************/
#NetworkA_divLLDP{
display:"";
}

#NetworkA_trMaxRTPPort{
display:"";
}

#NetworkA_divSNMP{
display:"";
}

#NetworkA_divVLAN{
display:"";
}

#NetworkA_divTR069{
display:"";
}

#NetworkA_divDot1x{
display:"";
}

#NetworkA_divVPN{
display:"";
}

#NetworkA_divACL{
display:none;
}

#NetworkA_divQOS{
display:"";
}

#NetworkA_trEnableQOS{
display:none;
}

#NetworkA_divDDNS{
display:none;
}

/******************************************
PhoneTL
*******************************************/
#PhoneTL_divLCDLang{
display:"";
}

#PhoneTL_divFormatSet{
display:"";
}

#PhoneTL_trDisplayMode{
display:"";
}

#PhoneTL_divTimeType{
display:"";
}

#PhoneTL_divNTP{
display:"";
}

#PhoneTL_trSecondryNTPServer{
display:"";
}

#PhoneTL_trUpdateInterval{
display:"";
}

#PhoneTL_divDayLightSaving{
display:"";
}

/******************************************
PhonePref
*******************************************/
#PhonePF_divtKeyTones{
display:none;
}

/******************************************
PhoneCallFeature
*******************************************/
#PhoneCF_divMode{
display:"";
}

#PhoneCF_trFeatureKeySync{
display:"";
}

#PhoneCF_divForwardTransfer{
display:"";
}

#PhoneCF_trDNDAccount{
display:"";
}

#PhoneCF_trReturnCodeDND{
display:"";
}

#PhoneCF_trDNDOnCode{
display:"";
}

#PhoneCF_trDNDOffCode{
display:"";
}

#PhoneCF_trCallWaitingTone{
display:"";
}

#PhoneCF_divAutoRedial{
display:"";
}

#PhoneCF_divCallPickUp{
display:"";
}

#PhoneCF_divCallPark{
display:"";
}

#PhoneCF_divIntercom{
display:"";
}

#PhoneCF_divHotLine{
display:"";
}

#PhoneCF_divACD{
display:"";
}

#PhoneCF_divRemoteControl{
display:"";
}

#PhoneCF_divKeypadLock{
display:"";
}

#PhoneCF_divKeyAsSend{
display:"";
}

#PhoneCF_divOthers{
display:"";
}

#PhoneCF_divCallSettings{
display:none;
}

#PhoneCF_trDirectIP{
display:"";
}

#PhoneCF_trReturnCodeRefuse{
display:"";
}

#PhoneCF_trAutoAnswerDelay{
display:"";
}

#PhoneCF_trEarlyDtmf{
display:"";
}

#PhoneCF_trMulticastCodec{
display:"";
}

/******************************************
PhoneVoice
*******************************************/
#PhoneV_divSidetone{
display:"";
}

/******************************************
PhoneKeyDisplay
*******************************************/
#PhoneKD_divLineKey{
display:"";
}

#PhoneKD_divSoftKey{
display:"";
}

#PhoneKD_divFunctionKey{
display:"";
}

#VoiceMessage{
display:none;
}

#Transfer{
display:"";
}

#FWD{
display:none;
}

#PhoneKD_trFontSize{
display:none;
}

/******************************************
PhoneExtKey
*******************************************/
#PhoneExt_divUpgrade{
display:"";
}

#PhoneExt_divSetting{
display:"";
}

/******************************************
PhoneRing
*******************************************/
#PhoneRing_tableRingsModify{
display:"";
}

#PhoneRing_tableRingsDelete{
display:"";
}

#PhoneRing_divDistRing{
display:"";
}

#PhoneRing_divVolume{
display:none;
}

#PhoneRing_divKeyTones{
display:none;
}

/******************************************
PhoneBook
*******************************************/
#PhoneBook_tdAccount{
display:"";
}

#PhoneBook_tdContactAccount1{
display:"";
}

#PhoneBook_tdContactAccount2{
display:"";
}

#PhoneBook_tdContactAccount3{
display:"";
}

#PhoneBook_tdContactAccount4{
display:"";
}

#PhoneBook_tdContactAccount5{
display:"";
}

#PhoneBook_tdContactAccount6{
display:"";
}

#PhoneBook_tdContactAccount7{
display:"";
}

#PhoneBook_tdContactAccount8{
display:"";
}

#PhoneBook_tdContactAccount9{
display:"";
}

#PhoneBook_tdContactAccount10{
display:"";
}

#PhoneBook_trContactEdit4{
display:"";
}

#PhoneBook_divImportExport{
display:"";
}

/******************************************
PhoneCallLog
*******************************************/
#PhoneCL_tdHangUp{
display:"";
}

/******************************************
PhoneLDAP
*******************************************/
#LDAP_trLadpType{
display:none;
}

#LDAP_trLdapNameFilter{
display:"";
}

#LDAP_trLdapNumberFilter{
display:"";
}

#LDAP_trLdapUserName{
display:"";
}

#LDAP_trLdapDisplayName{
display:"";
}

#LDAP_trLdapMaxHits{
display:"";
}

#LDAP_trLdapBaseAndroid{
display:none;
}

/******************************************
PhoneDialPlan
*******************************************/
#DialPlan_divAreaCode{
display:"";
}

#DialPlan_divSubmit{
display:"";
}

/******************************************
UpgradeB
*******************************************/
#UpgradeB_divReset{
display:"";
}

/******************************************
UpgradeA
*******************************************/
#UpgradeA_divPNP{
display:"";
}

#UpgradeA_divDHCP{
display:"";
}

#UpgradeA_trExportAutopT{
display:"";
}

#UpgradeA_divExportLog{
display:"";
}

#UpgradeA_divRemoteSystemLog{
display:"";
}

#UpgradeA_divRemoteSystemServer{
display:"";
}

#UpgradeA_tableSubmitRange{
display:"";
}

#UpgradeA_divPCAP{
display:"";
}

#UpgradeA_divOthers{
display:"";
}

/******************************************
SecurityB
*******************************************/
#SecurityB_divSessionTimeOut{
display:"";
}

/******************************************
SecurityA
*******************************************/
#SecurityA_divPhoneCert{
display:"";
}


