.whole_table{
	text-align: left; 
	width: 400px;
	height: 180px;
}

.SG_td1{
	text-indent: 10px;
	text-align: center;
	width: 120px;
	height: 67px;
}

.SG_td2{ 
	text-align: center;
	width: 180px;
}

.SG_td3{ text-align: left;
	height: 10px;
}
.SG_td4{ text-align: left;
	height: 100px;
}







