/*配置根据权限确定是否显示*/

#divAuthorityWarning{
display:"";
}

/******************************************
Left
*******************************************/
#link10{
display:none;
}

#link12{
display:none;
}

#link32{
display:none;
}

#link25{
display:none;
}

#link29{
display:none;
}

/******************************************
AccountB
*******************************************/
#AccountB_trRegisterName{
display:none;
}

#AccountB_trUserName{
display:none;
}

#AccountB_trPassword{
display:none;
}

#AccountB_divFirstSIPServer{
display:none;
}

#AccountB_divSecSIPServer{
display:none;
}

#AccountB_divOutbondServer{
display:none;
}

#AccountB_divTransportType0{
display:none;
}

#AccountB_divNATStunPart{
display:none;
}

/******************************************
AccountA
*******************************************/
#AccountA_divSubmitForm{
display:none;
}

#AccountA_divSIPAccount{
display:none;
}

#AccountA_divCodecs{
display:none;
}

#AccountA_divSubscribe{
display:none;
}

#AccountA_divDTMF{
display:none;
}

#AccountA_divCall{
display:none;
}

#AccountA_divMOHServer{
display:none;
}

#AccountA_divSessionTimer{
display:none;
}

#AccountA_divBLFList{
display:none;
}

#AccountA_divBSFT{
display:none;
}

#AccountA_divEncryption{
display:none;
}

#AccountA_divNAT{
display:none;
}

#AccountA_divConference{
display:none;
}

#AccountA_divUserAgent{
display:none;
}

/******************************************
NetworkA
*******************************************/
#NetworkA_divSubmitForm{
display:none;
}

#NetworkA_divLLDP{
display:none;
}

#NetworkA_divLocalRTP{
display:none;
}

#NetworkA_divSNMP{
display:none;
}

#NetworkA_divVLAN{
display:none;
}

#NetworkA_divQOS{
display:none;
}

#NetworkA_divTR069{
display:none;
}

#NetworkA_divDot1x{
display:none;
}

#NetworkA_divVPN{
display:none;
}

/******************************************
PhoneCF
*******************************************/
#PhoneCF_divRemoteControl{
display:none;
}

#PhoneCF_divACD{
display:none;
}

#PhoneCF_divKeypadLock{
display:none;
}

/******************************************
Phone_ActionURL
*******************************************/
#PhoneAU_divSubmitForm{
display:none;
}

#PhoneAU_divActionURL{
display:none;
}

/******************************************
UpgradeB
*******************************************/
#UpgradeB_divUpgrade{
display:none;
}

/******************************************
UpgradeA
*******************************************/
#UpgradeA_divSubmitForm{
display:none;
}

#UpgradeA_divSubmitForm1{
display:none;
}

#UpgradeA_divPNP{
display:none;
}

#UpgradeA_divDHCP{
display:none;
}

#UpgradeA_divManualUpdateServer{
display:none;
}

#UpgradeA_divAutoP{
display:none;
}

#UpgradeA_divSystemLog{
display:none;
}

#UpgradeA_divPCAP{
display:none;
}

#UpgradeA_divOthers{
display:none;
}

/******************************************
SecurityB
*******************************************/
#SecurityB_divSessionTimeOut{
display:none;
}

/******************************************
SecurityA
*******************************************/
#SecurityA_divSubmitForm{
display:none;
}

#SecurityA_divWebCert{
display:none;
}

#SecurityA_divPhoneCert{
display:none;
}